.container {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto auto;
    grid-row-gap: 50px;
    grid-column-gap: 40px;
}


.first {
    grid-column: 1 / 2;
    text-align: center;
}

.second {
    float: left;
    background-color: mediumpurple;
    color: white;
    font-family: "Helvetica Neue", serif;
    margin: auto;
    padding: 30px;
    border-radius: 50px;
}

.third {
    background-color: mediumpurple;
    color: white;
    font-family: "Helvetica Neue", serif;
    padding: 30px;
    float: left;
    border-radius: 50px;
}

.fourth {
    grid-column: 2/2;
    text-align: center;

}

.fifth {
    grid-column: 3/0;
    text-align: center;
}

.sixth {
    float: left;
    background-color: mediumpurple;
    color: white;
    font-family: "Helvetica Neue", serif;
    margin: auto;
    padding: 30px;
    border-radius: 50px;
}

.seventh {
    float: left;
    background-color: mediumpurple;
    color: white;
    font-family: "Helvetica Neue", serif;
    margin: auto;
    padding: 30px;
    border-radius: 50px;
}

.eighth {
    grid-column: 4/0;
    text-align: center;
}



@media screen and (max-width: 400px) {
    .container {
        position: relative;
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: auto;
        grid-column-gap: 20px;
    }

    .first {
        grid-column: 1 / 1;
        text-align: center;
    }

    .second {
        float: left;
        background-color: mediumpurple;
        color: white;
        font-family: "Helvetica Neue", serif;
        margin: auto;
        padding: 30px;
        border-radius: 50px;
    }

    .third {
        background-color: mediumpurple;
        color: white;
        font-family: "Helvetica Neue", serif;
        padding: 30px;
        float: left;
        border-radius: 50px;
    }

    .fourth {
        grid-column: 1/1;
        text-align: center;

    }

    .fifth {
        background-color: mediumpurple;
        color: white;
        font-family: "Helvetica Neue", serif;
        padding: 30px;
        float: left;
        border-radius: 50px;
    }

    .sixth {
        grid-column: 1/1;
        text-align: center;
    }

    .seventh {
        background-color: mediumpurple;
        color: white;
        font-family: "Helvetica Neue", serif;
        padding: 30px;
        float: left;
        border-radius: 50px;
    }

    .eighth {
        grid-column: 4/2;
        text-align: center;
    }
}